<div class="cta w3-win8-crimson pb-4 pt-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2> From Complete Turn Key To Project Manager. Leave The Building To The Professionals.
    </h2>
                </div>
                <div class="col-md-3 mt-3">
                    <button type="button" class="btn btn-lg w3-metro-darken w3-hover-opacity ">Book Service</button>
    
                </div>
            </div>
        </div>
    </div>