{% load static %}

<div class="footer w3-metro-darken pt-5 pb-3 "><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="container pt-4 w3-bottombar w3-border-orange">
            <div class="row text-center">
                <div class="col-md-12">
                    <h6>Say hello admin@invictus.com</h6>
                    <ul class="list-unstyled">
                        
                    <li class="list-inline-item"><a href="#" class="w3-text-orange"> Home</a></li>
                    <li class="list-inline-item"><a href="#" class="w3-text-orange"> About us</a></li>
                    <li class="list-inline-item"><a href="#" class="w3-text-orange"> Privacy</a></li>
                    <li class="list-inline-item"><a href="#" class="w3-text-orange"> Terms & Conditions</a></li>
                    <li class="list-inline-item"><a href="#" class="w3-text-orange"> Contact us</a></li>
                   
                    <li class="list-inline-item"><a href="{% url 'mobile' %}" class="w3-text-orange col-sm"> Mobile</a></li>
                    <li class="list-inline-item"><a href="{% url 'tablet' %}" class="w3-text-orange col-sm"> Tablet</a></li>
                    <li class="list-inline-item"><a href="{% url 'laptop' %}"class="w3-text-orange col-sm"> Laptop</a></li>
                   
                </ul>
                <p>Powered by :  Abelhub - Premium Web Applications</p>
                </div>
                
            </div>
        </div>
</div>